@page "/settings"

<div class="px-3 py-2 border-bottom file-input-zone user-select-none">
    <InputFile OnChange="OnImportSelected"/>
    Import
</div>
<div class="px-3 py-2 border-bottom user-select-none"
     @onclick="OnExportSelected">
    Export
</div>
<div class="px-3 py-2 border-bottom user-select-none"
     @onclick="OnDeleteDatabaseSelected">
    Delete Database
</div>
<div class="px-3 py-2 border-bottom file-input-zone user-select-none">
    <InputFile OnChange="OnUploadImageSelected"/>
    Upload Image
</div>

<BottomBar/>
