@using Couple.Client.Utility

<div style="padding-bottom: 56px;" class="mh-100 overflow-auto">
    <Virtualize Items="@ToDos" Context="toDo">
        <div class="card bg-light mx-3 my-2">
            <div class="card-body">
                <div class="d-flex card-title">
                    <i style="@CssHelper.GetIcon(toDo.For)"></i>
                    <h5 class="mb-0 ps-2">
                        @toDo.Name
                    </h5>
                </div>
                @foreach (var innerToDo in toDo.ToDos)
                {
                    <h6>
                        @innerToDo
                    </h6>
                }
            </div>
        </div>
    </Virtualize>
</div>
