<table class="table table-borderless mb-0">
    <thead id="calendar-header">
    <tr>
        <td>S</td>
        <td>M</td>
        <td>T</td>
        <td>W</td>
        <td>T</td>
        <td>F</td>
        <td>S</td>
    </tr>
    </thead>
    @* <tbody> is not used here because it does not integrate well with carousel in CalendarCarouselComponent *@
</table>
