/*TODO: can be replaced with sass for bootstrap*/
::deep .k-datetimepicker input {
    font-size: calc(1.3rem + .6vw); /* h3 */
    text-align: right; /* text-end */
}

::deep .k-datetimepicker .k-dateinput {
    pointer-events: none; /* pe-none */
    user-select: none; /* user-select-none */
}

::deep .k-datetimepicker .k-select {
    display: none; /* d-none */
}

::deep .k-datetimepicker .k-picker-wrap {
    border: 0; /* border-0 */
}

