html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
    overscroll-behavior: contain;
}

.navbar-height {
    height: 56px;
}

.w-fit-content {
    width: fit-content;
}

.file-input-zone {
    position: relative;
}

.file-input-zone input[type=file] {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}
