/*TODO: can be replaced with sass for bootstrap*/
::deep .k-calendar {
    border: 0; /* border-0 */
}

    ::deep .k-calendar, 
    ::deep .k-calendar .k-title,
    ::deep .k-calendar .k-calendar-view th {
        font-size: calc(1.275rem + .3vw); /* h4 */
    }

    ::deep .k-listview {
        border: 0; /* border-0 */
    }

