<nav class="navbar fixed-bottom navbar-light bg-light text-center">
    <NavLink class="nav-item nav-link flex-grow-1 user-select-none border-end" href="/" Match="NavLinkMatch.All">
        Home
    </NavLink>
    <NavLink class="nav-item nav-link flex-grow-1 user-select-none border-end" href="todo" Match="NavLinkMatch.All">
        To Do
    </NavLink>
    <NavLink class="nav-item nav-link flex-grow-1 user-select-none border-end" href="done" Match="NavLinkMatch.All">
        Done
    </NavLink>
    <NavLink class="nav-item nav-link flex-grow-1 user-select-none" href="settings" Match="NavLinkMatch.All">
        Settings
    </NavLink>
</nav>
