<nav style="height: 56px" class="navbar fixed-bottom navbar-light bg-light text-center border-top">
    <NavLink class="h-100 p-0 nav-item nav-link flex-grow-1 user-select-none border-end" href="/" Match="NavLinkMatch.All">
        Home
    </NavLink>
    <NavLink class="h-100 p-0 nav-item nav-link flex-grow-1 user-select-none border-end" href="todo" Match="NavLinkMatch.All">
        <i style="content: url(&quot;icons/todo.png&quot;)" class="h-100"></i>
    </NavLink>
    <NavLink class="h-100 p-0 nav-item nav-link flex-grow-1 user-select-none border-end" href="done" Match="NavLinkMatch.All">
        <i style="content: url(&quot;icons/memories.png&quot;)" class="h-100"></i>
    </NavLink>
    <NavLink class="h-100 p-0 nav-item nav-link flex-grow-1 user-select-none" href="settings" Match="NavLinkMatch.All">
        <i style="content: url(&quot;icons/settings.png&quot;)" class="h-100"></i>
    </NavLink>
</nav>
