@page "/"

<div class="mh-100 overflow-auto" style="padding-bottom: 56px;">
    @foreach (var image in FavouriteImages)
    {
        <img class="w-100 h-auto"
             @onclick="@(() => EditImage(image))"
             src="data:image/bmp;base64, @(Convert.ToBase64String(image.Data))"/>
    }
</div>
<BottomBar/>
