<div>
    <TelerikAnimationContainer @ref="CategoryAnimationContainer"
                               Width="100%"
                               Top="56px"
                               AnimationType="@AnimationType.SlideDown">
        <CategoryListView OnClickCallback="@OnClickCallback" />
    </TelerikAnimationContainer>
</div>
