/*TODO: can be replaced with sass for bootstrap*/
::deep .k-animation-container {
    position: fixed; /* @extend .position-fixed; */
    z-index: 1050 !important; /* z-index: $zindex-modal; */
    height: calc(100% - 56px);
}

    ::deep .k-animation-container > div {
        height: 100%; /* h-100 */
    }

