<div>
    <TelerikAnimationContainer @ref="CategoryAnimationContainer"
                               Width="100%"
                               Height="100%"
                               Top="0"
                               AnimationType="@AnimationType.SlideLeft">
        <CategoryTopBar OnCancelCallback="@Cancel"/>
        <CategoryAddBar OnAddCallback="@Confirm"/>
        <CategoryListView OnClickCallback="@Confirm"/>
    </TelerikAnimationContainer>
</div>
