<nav class="navbar navbar-height fixed-top navbar-light bg-light px-3">
    <i @onclick="@OnCancelCallback"
       class="bi bi-chevron-left h2 mb-0"/>
    <h3 class="position-absolute start-0 end-0 w-fit-content mx-auto mb-0 user-select-none">
        Select Category
    </h3>
</nav>
