@* nested binding, so use ValueChanged instead of bind-Value *@
<textarea style="outline: 0;"
          class="form-control-lg w-100 rounded-0 border-top-0 border-end-0 border-start-0 border-bottom"
          placeholder="To Do"
          @oninput="@((e) => TextChanged.InvokeAsync(e.Value!.ToString()))">
    @Text
</textarea>
<div class="d-flex align-items-center px-3 py-1 border-bottom">
    <label class="col-form-label pe-3 user-select-none">
        Category
    </label>
    <div class="d-flex align-items-center flex-grow-1 min-w-0"
         @onclick="@OnClickCallback">
        <span class="form-control-sm p-0 min-h-0 flex-grow-1 text-muted user-select-none text-end text-truncate">
            @(string.IsNullOrEmpty(Category) ? "-No Category-" : Category)
        </span>
        <i class="bi bi-chevron-right h6 mb-0 text-muted" />
    </div>
</div>

